<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Elevator Switch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>🏢 Elevator Control Panel</h1>
    <div id="message">🚪 You are on Floor G</div>

    <div class="grid-container">
      <button onclick="goToFloor('G')">G</button>

      {% for floor in range(1, 11) %}
      <button onclick="goToFloor('{{ floor }}')">{{ floor }}</button>
      {% endfor %}
      
      <button id="emergency-button" onclick="goToFloor('🚨')">🚨</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
